input{
    color: black;
}

body {
    background-color: #cffafe;
    margin: 0;
}

#container {
    height: 100vh;
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    grid-template-rows: 0.5fr 3fr;
    grid-template-areas: 
        "header"
        "content";
    }

.header {
    grid-area: header;
    background-color: #0e7490;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.todo {
    grid-area: content;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

/* .sidebar {
    grid-area: sidebar;
    background-color: #06b6d4;
    font-size: 20px;
    padding: 10px;
    color: white;
} */

.newTask{
    background-color: #06b6d4;
    border: none;
    color: white;
    padding: 10px;
}

.addBtn {
    background-color: rgb(119, 201, 119);
    border: none;
    width: 150px;
    height: 30px;
}

.cancelTask {
    background-color: rgb(240, 106, 106);
    border: none;
    width: 150px;
    height: 30px;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#list > button{
    margin-top: 15px;
}

.currentTasks{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.containerTwo{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 550px;
}

.eachtask{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    align-items: center;
    color: #0e7490
}

.eachtask > :first-child{
    font-weight: bold;
}

.remove-task{
    background-color: #06b6d4;
    justify-content: flex-end;
    height: 30px;
    color: white;
    border: none;
}

.taskContainer{
    gap: 15px;
}

/*.sidebar > button{
    background-color: #0e7490;
    border: none;
    color: white;
}

 .eachproject{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.remove-project{
    background-color: #0e7490;
    justify-content: flex-end;
    height: 30px;
    color: white;
}

.addProjectBtn{
    color: white;
    background-color: rgb(119, 201, 119);
    padding: 5px;
    border: none;
    width: 100px;
}

.cancelProjectBtn{
    background-color: rgb(240, 106, 106);
    color: white;
    padding: 5px;
    border: none;
    width: 100px;
}

.addProject{
    padding: 10px;
    margin-bottom: 20px;
} */
